<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Welcome to ChatBot</h1>
    </header>
    
    <main>
        <p>Start chatting with our bot below!</p>
        <div>
            <div id="chatbox">
                <p class="botText"><span>Hi there!</span></p>
            </div>
            <div id="userInput">
                <input id="textInput" type="text" name="userMessage" placeholder="Type your message here..." />
                <input id="buttonInput" type="submit" value="Send">
            </div>
        </div>
    </main>

    <script>

        function getUserResponse(){

            var userText = $('#textInput').val();
            var userHTML = "<p class='userText'> User: <span>" + userText + "</span></p>";
            $('#textInput').val("");
            $("#chatbox").append(userHTML);
            document.getElementById("userInput").scrollIntoView({block: 'start',behavior: 'smooth'});
            $.get("/get",{userMessage: userText}).done(function(data){
                var botHTML = "<p class='botText'> ChatBot: <span>" + data + "</span></p>";
                $("#chatbox").append(botHTML);
            });
        }

        $("#textinput").keypress(function (e) {
            if (e.which == 13) {
                getUserResponse();
            }
        });

        $('#buttonInput').click(function() {
            getUserResponse();
        })
    </script>
</body>
</html>